body {
    font-family: 'Montserrat', sans-serif;
}
.text-orange {
    color: #f15025;
}

.letter-spacing {
    letter-spacing: 0.5rem;
}

.header-hero, .default-hero {
    min-height: calc(100vh - 70px);
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./images/bg-header.jpg")center/cover no-repeat;
}

.default-hero {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./images/bg-default.jpg")center/cover no-repeat;
}

.container-fluid {
    padding: 0 !important;
}